
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler_material.css"
          rel="stylesheet" type="text/css" />
    <script src="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.js"></script>
    <script src="https://docs.dhtmlx.com/scheduler/codebase/ext/dhtmlxscheduler_editors.js?v=5.3.6"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <script>
        scheduler.templates.event_class = function (start, end, event) {
            var css = "";
            if (event.id == scheduler.getState().select_id) { css += " selected"; }
            return css;
        };

        scheduler.attachEvent("onEventCreated", function (id, e) {
            var event = scheduler.getEvent(id);
            event.clientID = "@ViewBag.cid";
            return true;
        });





        scheduler.config.details_on_dblclick = true;
        scheduler.config.details_on_create = true;

        scheduler.locale.labels.section_checkme = "Completed";

        scheduler.config.lightbox.sections = [
            { name: "text", height: 50, map_to: "text", type: "textarea", focus: true },
            { name: "time", height: 72, type: "time", map_to: "auto" },
            { name: "Employee", height: 50, map_to: "employeeID", type: "textarea", focus: true },
            { name: "Customer", height: 50, map_to: "customerID", type: "textarea", focus: true },
            { name: "checkme", map_to: "completed", type: "checkbox", checked_value: "complete", unchecked_value: "unchecked", height: 40 },

        ];



        document.addEventListener("DOMContentLoaded", function (event) {
            // initializing scheduler
            scheduler.init("scheduler_here", new Date(2019, 0, 15));

            // initiating data loading
           $.ajax({
                url: '/api/scheduler',
                type: 'GET',
                data: {

                    id: "@ViewBag.cid"
                },
                success: function (result) {
                     scheduler.parse(result, "json");
                },
                error: function () {
                    alert("error");
                }
            });
            // initializing dataProcessor
            var dp = new dataProcessor("/api/scheduler");
            // and attaching it to scheduler
            dp.init(scheduler);
            // setting the REST mode for dataProcessor
            dp.setTransactionMode("REST")
        });
    </script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MVC Movie", "Index", "Movies", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
                    <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100vh;'>
        <div class="dhx_cal_navline">
            <div class="dhx_cal_prev_button">&nbsp;</div>
            <div class="dhx_cal_next_button">&nbsp;</div>
            <div class="dhx_cal_today_button"></div>
            <div class="dhx_cal_date"></div>
            <div class="dhx_cal_tab" name="day_tab"></div>
            <div class="dhx_cal_tab" name="week_tab"></div>
            <div class="dhx_cal_tab" name="month_tab"></div>
        </div>
        <div class="dhx_cal_header"></div>
        <div class="dhx_cal_data"></div>
    </div>
</body>
</html>